<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconFile</key>
    <string>TidyTap</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/Sharknia/TidyTap/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>3SN9snOdOIRhZyL+Z2RAWMGN9M9S8UPt1beNVaKJhqc=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAllowsAutomaticUpdates</key>
    <false/>
</dict>
</plist>
